In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
#creating dataframe from dataset (.csv) file and displaying the first 5 rows
path = 'PHQ9 data.csv'
original_df = pd.read_csv(path)
original_df.head()

,Unnamed: 0,user_id,phq1,phq2,phq3,phq4,phq5,phq6,phq7,phq8,...,q14,q16,q46,q47,happiness.score,time,period.name,start.time,phq.day,id
0,1,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,...,0.0,NaN,NaN,NaN,2,2017-01-22 20:11:59,evening,2017-01-09 07:22:37,-0.951921,1
1,2,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,...,NaN,NaN,1.0,NaN,3,2017-02-08 22:53:06,evening,2017-01-09 07:22:37,16.159965,1
2,3,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,3,2017-02-08 08:00:46,morning,2017-01-09 07:22:37,15.540289,1
3,4,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,...,NaN,1.0,NaN,NaN,2,2017-01-22 14:01:25,midday,2017-01-09 07:22:37,-1.209259,1
4,5,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,...,1.0,NaN,1.0,NaN,2,2017-01-21 15:37:24,midday,2017-01-09 07:22:37,-2.142604,1

In [5]:
#dropping repeated columns 
dropped_df = original_df.drop(columns=['Unnamed: 0', 'id'])
#maybe drop these too ('q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10', 'q11', 'q12', 'q13', 'q14', 'q16', 'q46', 'q47')
dropped_df.head()

,user_id,phq1,phq2,phq3,phq4,phq5,phq6,phq7,phq8,phq9,...,q13,q14,q16,q46,q47,happiness.score,time,period.name,start.time,phq.day
0,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,3.0,...,NaN,0.0,NaN,NaN,NaN,2,2017-01-22 20:11:59,evening,2017-01-09 07:22:37,-0.951921
1,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,3.0,...,NaN,NaN,NaN,1.0,NaN,3,2017-02-08 22:53:06,evening,2017-01-09 07:22:37,16.159965
2,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,3.0,...,4.0,NaN,NaN,NaN,NaN,3,2017-02-08 08:00:46,morning,2017-01-09 07:22:37,15.540289
3,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,3.0,...,NaN,NaN,1.0,NaN,NaN,2,2017-01-22 14:01:25,midday,2017-01-09 07:22:37,-1.209259
4,1,3.0,3.0,3.0,3.0,2.0,3.0,1.0,2.0,3.0,...,NaN,1.0,NaN,1.0,NaN,2,2017-01-21 15:37:24,midday,2017-01-09 07:22:37,-2.142604

In [6]:
#Do individuals have higher PHQ-9 scores, indicating more severe depressive symptoms, 
#during the winter months compared to the summer months?

#groupby

In [7]:
#Which questions have higher scores during different seasons?
    #winter: December, January, February
    #spring: March, April, May
    #summer: June, July, August
    #fall: September, October, November

In [8]:
#Does age affect the score?

In [9]:
#Does gender affect the score?